body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: "Open Sans", sans-serif;
  background-color: darkgreen;
  color: white;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

header nav li {
  list-style: none;
  display: inline-block;
  padding-left: 6px;
  margin-top: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}

.pic_container {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.pic {
  position: absolute;
  top: left;
  left: 0;
  width: 100%;
  height: 100%;
}
